.Rproj.user
.Rhistory
.RData
.DS_Store
.httr-oauth
data-raw/datsf.rda
data-raw/AX0001/continuity.csv
data-raw/AX0001/historic.csv
data-raw/AX0001/landcover.csv
data-raw/AX0001/metrics.csv
data-raw/AX0001/SWATHS_REFAXIS.cpg
data-raw/AX0001/SWATHS_REFAXIS.dbf
data-raw/AX0001/SWATHS_REFAXIS.prj
data-raw/AX0001/SWATHS_REFAXIS.shp
data-raw/AX0001/SWATHS_REFAXIS.shx
data-raw/AX0002/continuity.csv
data-raw/AX0002/landcover.csv
data-raw/AX0002/metrics.csv
data-raw/AX0002/SWATHS_REFAXIS.cpg
data-raw/AX0002/SWATHS_REFAXIS.dbf
data-raw/AX0002/SWATHS_REFAXIS.prj
data-raw/AX0002/SWATHS_REFAXIS.shp
data-raw/AX0002/SWATHS_REFAXIS.shx
data-raw/AX0003/continuity.csv
data-raw/AX0003/landcover.csv
data-raw/AX0003/metrics.csv
data-raw/AX0003/SWATHS_REFAXIS.cpg
data-raw/AX0003/SWATHS_REFAXIS.dbf
data-raw/AX0003/SWATHS_REFAXIS.prj
data-raw/AX0003/SWATHS_REFAXIS.shp
data-raw/AX0003/SWATHS_REFAXIS.shx
data-raw/AX0004/continuity.csv
data-raw/AX0004/landcover.csv
data-raw/AX0004/metrics.csv
data-raw/AX0004/SWATHS_REFAXIS.cpg
data-raw/AX0004/SWATHS_REFAXIS.dbf
data-raw/AX0004/SWATHS_REFAXIS.prj
data-raw/AX0004/SWATHS_REFAXIS.shp
data-raw/AX0004/SWATHS_REFAXIS.shx
data-raw/AX0005/continuity.csv
data-raw/AX0005/landcover.csv
data-raw/AX0005/metrics.csv
data-raw/AX0005/SWATHS_REFAXIS.cpg
data-raw/AX0005/SWATHS_REFAXIS.dbf
data-raw/AX0005/SWATHS_REFAXIS.prj
data-raw/AX0005/SWATHS_REFAXIS.shp
data-raw/AX0005/SWATHS_REFAXIS.shx
data-raw/AX0006/continuity.csv
data-raw/AX0006/historic.csv
data-raw/AX0006/landcover.csv
data-raw/AX0006/metrics.csv
data-raw/AX0006/SWATHS_REFAXIS.cpg
data-raw/AX0006/SWATHS_REFAXIS.dbf
data-raw/AX0006/SWATHS_REFAXIS.prj
data-raw/AX0006/SWATHS_REFAXIS.shp
data-raw/AX0006/SWATHS_REFAXIS.shx
data-raw/AX0007/continuity.csv
data-raw/AX0007/landcover.csv
data-raw/AX0007/metrics.csv
data-raw/AX0007/SWATHS_REFAXIS.cpg
data-raw/AX0007/SWATHS_REFAXIS.dbf
data-raw/AX0007/SWATHS_REFAXIS.prj
data-raw/AX0007/SWATHS_REFAXIS.shp
data-raw/AX0007/SWATHS_REFAXIS.shx
data-raw/AX0008/continuity.csv
data-raw/AX0008/landcover.csv
data-raw/AX0008/metrics.csv
data-raw/AX0008/SWATHS_REFAXIS.cpg
data-raw/AX0008/SWATHS_REFAXIS.dbf
data-raw/AX0008/SWATHS_REFAXIS.prj
data-raw/AX0008/SWATHS_REFAXIS.shp
data-raw/AX0008/SWATHS_REFAXIS.shx
data-raw/AX0009/continuity.csv
data-raw/AX0009/landcover.csv
data-raw/AX0009/metrics.csv
data-raw/AX0009/SWATHS_REFAXIS.cpg
data-raw/AX0009/SWATHS_REFAXIS.dbf
data-raw/AX0009/SWATHS_REFAXIS.prj
data-raw/AX0009/SWATHS_REFAXIS.shp
data-raw/AX0009/SWATHS_REFAXIS.shx
data-raw/AX0010/continuity.csv
data-raw/AX0010/landcover.csv
data-raw/AX0010/metrics.csv
data-raw/AX0010/SWATHS_REFAXIS.cpg
data-raw/AX0010/SWATHS_REFAXIS.dbf
data-raw/AX0010/SWATHS_REFAXIS.prj
data-raw/AX0010/SWATHS_REFAXIS.shp
data-raw/AX0010/SWATHS_REFAXIS.shx
data-raw/AX0011/continuity.csv
data-raw/AX0011/landcover.csv
data-raw/AX0011/metrics.csv
data-raw/AX0011/SWATHS_REFAXIS.cpg
data-raw/AX0011/SWATHS_REFAXIS.dbf
data-raw/AX0011/SWATHS_REFAXIS.prj
data-raw/AX0011/SWATHS_REFAXIS.shp
data-raw/AX0011/SWATHS_REFAXIS.shx
data-raw/AX0012/continuity.csv
data-raw/AX0012/landcover.csv
data-raw/AX0012/metrics.csv
data-raw/AX0012/SWATHS_REFAXIS.cpg
data-raw/AX0012/SWATHS_REFAXIS.dbf
data-raw/AX0012/SWATHS_REFAXIS.prj
data-raw/AX0012/SWATHS_REFAXIS.shp
data-raw/AX0012/SWATHS_REFAXIS.shx
data-raw/AX0013/continuity.csv
data-raw/AX0013/landcover.csv
data-raw/AX0013/metrics.csv
data-raw/AX0013/SWATHS_REFAXIS.cpg
data-raw/AX0013/SWATHS_REFAXIS.dbf
data-raw/AX0013/SWATHS_REFAXIS.prj
data-raw/AX0013/SWATHS_REFAXIS.shp
data-raw/AX0013/SWATHS_REFAXIS.shx
data-raw/AX0014/continuity.csv
data-raw/AX0014/landcover.csv
data-raw/AX0014/metrics.csv
data-raw/AX0014/SWATHS_REFAXIS.cpg
data-raw/AX0014/SWATHS_REFAXIS.dbf
data-raw/AX0014/SWATHS_REFAXIS.prj
data-raw/AX0014/SWATHS_REFAXIS.shp
data-raw/AX0014/SWATHS_REFAXIS.shx
data-raw/AX0015/continuity.csv
data-raw/AX0015/historic.csv
data-raw/AX0015/landcover.csv
data-raw/AX0015/metrics.csv
data-raw/AX0015/SWATHS_REFAXIS.cpg
data-raw/AX0015/SWATHS_REFAXIS.dbf
data-raw/AX0015/SWATHS_REFAXIS.prj
data-raw/AX0015/SWATHS_REFAXIS.shp
data-raw/AX0015/SWATHS_REFAXIS.shx
data-raw/AX0016/continuity.csv
data-raw/AX0016/landcover.csv
data-raw/AX0016/metrics.csv
data-raw/AX0016/SWATHS_REFAXIS.cpg
data-raw/AX0016/SWATHS_REFAXIS.dbf
data-raw/AX0016/SWATHS_REFAXIS.prj
data-raw/AX0016/SWATHS_REFAXIS.shp
data-raw/AX0016/SWATHS_REFAXIS.shx
data-raw/AX0017/continuity.csv
data-raw/AX0017/landcover.csv
data-raw/AX0017/metrics.csv
data-raw/AX0017/SWATHS_REFAXIS.cpg
data-raw/AX0017/SWATHS_REFAXIS.dbf
data-raw/AX0017/SWATHS_REFAXIS.prj
data-raw/AX0017/SWATHS_REFAXIS.shp
data-raw/AX0017/SWATHS_REFAXIS.shx
data-raw/AX0018/continuity.csv
data-raw/AX0018/landcover.csv
data-raw/AX0018/metrics.csv
data-raw/AX0018/SWATHS_REFAXIS.cpg
data-raw/AX0018/SWATHS_REFAXIS.dbf
data-raw/AX0018/SWATHS_REFAXIS.prj
data-raw/AX0018/SWATHS_REFAXIS.shp
data-raw/AX0018/SWATHS_REFAXIS.shx
data-raw/AX0019/continuity.csv
data-raw/AX0019/historic.csv
data-raw/AX0019/landcover.csv
data-raw/AX0019/metrics.csv
data-raw/AX0019/SWATHS_REFAXIS.cpg
data-raw/AX0019/SWATHS_REFAXIS.dbf
data-raw/AX0019/SWATHS_REFAXIS.prj
data-raw/AX0019/SWATHS_REFAXIS.shp
data-raw/AX0019/SWATHS_REFAXIS.shx
data-raw/AX0020/historic.csv
data-raw/AX0024/historic.csv
data-raw/AX0030/historic.csv
data-raw/AX0031/historic.csv
data-raw/AX0034/continuity.csv
data-raw/AX0034/historic.csv
data-raw/AX0034/landcover.csv
data-raw/AX0034/metrics.csv
data-raw/AX0034/SWATHS_REFAXIS.cpg
data-raw/AX0034/SWATHS_REFAXIS.dbf
data-raw/AX0034/SWATHS_REFAXIS.prj
data-raw/AX0034/SWATHS_REFAXIS.shp
data-raw/AX0034/SWATHS_REFAXIS.shx
data-raw/AX0036/historic.csv
data-raw/AX0038/historic.csv
data-raw/AX0043/historic.csv
data-raw/AX0044/historic.csv
data-raw/AX0048/historic.csv
data-raw/AX0213/historic.csv
data-raw/AX0503/historic.csv
data-raw/continuity_combine.csv
data-raw/datRMC.rda
data-raw/datsf.gpkg
data-raw/datsf.rda
data-raw/landcover_combine.csv
data-raw/metrics_combine.csv
data-raw/network_clip.gpkg
data-raw/network_continuity.gpkg
data-raw/network_continuity_data.gpkg
data-raw/network_landcover.gpkg
data-raw/network_landcover_data.gpkg
data-raw/network_metrics.gpkg
data-raw/network_metrics_data.gpkg
data-raw/network_with_attribut.gpkg
data-raw/old_datsf.gpkg
data-raw/ref_hydro_network.gpkg
data-raw/rmc_network.gpkg
data-raw/swaths_refaxis_combine.gpkg
data-raw/continuity_data.csv
data-raw/metrics_data.csv
data-raw/landcover_data.csv
data-raw/dbmapdo.gpkg

docs
data-raw/continuity.csv
data-raw/landcover.csv
data-raw/metrics.csv
data-raw/network.gpkg
.Rdata
.quarto
